





<div class="themesflat-pagination clearfix center">
    <ul>
        {% if products.has_previous %}
            <li><a href="?page={{ products.previous_page_number }}" class="page-numbers style"><i class="far fa-angle-left"></i></a></li>
        {% else %}
            <li><a class="page-numbers style"><i class="far fa-angle-left"></i>
        {% endif %}

        {% for i in products.paginator.page_range %}
            {% if products.number == i %}
                <li><a class="page-numbers current">{{i}}</a></li>
            {% else %}
                <li><a href="?page={{ i }}" class="page-numbers">{{i}}</a></li>
            {% endif %}
        {% endfor %}

        {% if products.has_next %}
            <li><a href="?page={{ products.next_page_number }}" class="page-numbers style"><i class="far fa-angle-right"></i></a></li>
        {% else %}
            <li><a class="page-numbers style"><i class="far fa-angle-right"></i>
        {% endif %}
    </ul>
</div>






