<div class="themesflat-pagination clearfix center">
    <ul>
        <li><a href="#" class="page-numbers style"><i class="far fa-angle-left"></i></a></li>
        <li><a href="#" class="page-numbers">1</a></li>
        <li><a href="#" class="page-numbers">2</a></li>
        <li><a href="#" class="page-numbers current">3</a></li>
        <li><a href="#" class="page-numbers">4</a></li>
        <li><a href="#" class="page-numbers">...</a></li>
        <li><a href="#" class="page-numbers style"><i class="far fa-angle-right"></i></a></li>
    </ul>
</div>