{% extends 'base.html' %}
{% load static %}

{% block 'content' %}

{% if messages %}
    <div class="popup my-20" id="popup_bid" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content my-20">
                <div class="modal-body space-y-20 pd-40">
                    <div class="wrap-modal flex">
                        <div class="content">
                            <div class="title-login fs-30 fw-7 lh-45">change password link send to your email/div>
                        </div>
                    </div>
                </div>     
            </div>
        </div>
    </div>
{% else %}
    <div class="popup my-20" id="popup_bid" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content my-20">
                <div class="modal-body space-y-20 pd-40">
                    <div class="wrap-modal flex">
                        <div class="content">
                            <div class="title-login fs-30 fw-7 lh-45">Mot de passe oublié</div>
                            <div class="comments">
                                <div class="respond-comment">
                                    <form method="post" action="{% url 'password_reset' %}" class="comment-form form-submit" action="#" accept-charset="utf-8">
                                        {% csrf_token %}
                                        <fieldset class="">
                                            <label class="fw-6">Entrer votre adresse email</label>
                                            <input type="email" id="email" class="tb-my-input" name="email" placeholder="Email" >
                                            <img class="img-icon img-email" src="{% static 'assets/images/icon/icon-gmail.svg' %}" alt="images">
                                        </fieldset>   
                                        <button class="sc-button" name="submit" type="submit">
                                            <span>Envoyer email de reinitialisation</span>
                                        </button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>     
            </div>
        </div>
    </div>
{% endif %}

{% endblock %}